.container {
    width: 100%;
    height: 800px;
    background-color: gray;
}

.jumbotron {
    background-color: red;
    color: white;
    width: 1200px;
    height: 125px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 10px;
}

.heading {
    font-size: 85px;
}

#col-1  {
    text-decoration: underline;
}

.table {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    height: 300px;
    
    text-align: center;
    background-color: black;
    color: white;
    font-size: 17px;
}

.form  {
    margin-right: auto;
    margin-left: auto;
    height: 240px;
    width: 1200px;
    background-color: beige;
}

#input-train  {
    width:800px;
}

#input-destination  {
    width:804px;
}

#input-firstTrain  {
    width:603px;
}

#input-frequency  {
    width:713px;
}

.submit-button {
    background-color:black;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.form-group  {
    font-size: 25px;
}